*.aux
*.pyc
.Rproj.user
.metadata
/**/.vscode/
/**/__pycache__/
/.vscode/
/BuildSystem/.project
/BuildSystem/Casal2/
/BuildSystem/Doxygen
/BuildSystem/bin
/BuildSystem/config.iss
/BuildSystem/icon.o
/Documentation/**/*.aux
/Documentation/**/*.bbl
/Documentation/**/*.blg
/Documentation/**/*.idx
/Documentation/**/*.ilg
/Documentation/**/*.ind
/Documentation/**/*.log
/Documentation/**/*.out
/Documentation/**/*.toc
/Documentation/**/Version.tex
/Documentation/**/syntax_errors.txt
/Documentation/UserManual/Syntax/
/FrontEnd/icon.o
/R-libraries/.Rproj.user
/RemoteSystemsTempFiles
/TestModels/**/estimate.log
/TestModels/**/run.log
/ThirdParty/adolc/*.log
/ThirdParty/adolc/msys/
/ThirdParty/betadiff/*.log
/ThirdParty/boost/*.log
/ThirdParty/boost/boost_1_71_0/
/ThirdParty/boost/casal2_unzip.log
/ThirdParty/googletest_googlemock/*.log
/ThirdParty/googletest_googlemock/googletest-release-1.8.1/
/ThirdParty/parser/*.log
/ThirdParty/test-adolc
/ThirdParty/test-betadiff
/ThirdParty/test-boost
R-libraries/Casal2.Rcheck/