/BuildSystem/buildtools/windows/Python27

/BuildSystem/buildtools/classes/*.pyc
.metadata
/RemoteSystemsTempFiles
/BuildSystem/Doxygen
/ThirdParty/boost/windows.pyc
/ThirdParty/boost/boost_1_55_0
/ThirdParty/boost/isam_unzip.log
/ThirdParty/dlib/windows.pyc
/ThirdParty/dlib/dlib-18.6
/ThirdParty/dlib/isam_unzip.log
/ThirdParty/test-boost
/ThirdParty/test-cppad
/ThirdParty/test-ipopt
/ThirdParty/test-adolc
/Documentation/Manual/Acknowledgments.aux
/Documentation/Manual/Estimation.aux
/Documentation/Manual/License.aux
/Documentation/Manual/Observation.aux
/Documentation/Manual/Population.aux
/Documentation/Manual/PostProcessing.aux
/Documentation/Manual/QuickReference.aux
/Documentation/Manual/References.aux
/Documentation/Manual/Report.aux
/Documentation/Manual/RunningiSAM.aux
/Documentation/Manual/Troubleshooting.aux
/Documentation/Manual/iSAM.aux
/Documentation/Manual/iSAM.bbl
/Documentation/Manual/iSAM.blg
/Documentation/Manual/iSAM.idx
/Documentation/Manual/iSAM.ilg
/Documentation/Manual/iSAM.ind
/Documentation/Manual/iSAM.log
/Documentation/Manual/iSAM.out
/Documentation/Manual/iSAM.pdf
/Documentation/Manual/iSAM.toc
/Documentation/Manual/Examples.aux
/Documentation/Manual/Introduction.aux
/Documentation/Manual/Syntax
/Documentation/Manual/syntax_errors.txt
/Documentation/Manual/SAM.syn
/Documentation/Manual/Version.tex
/Documentation/Manual/QuickReference.tex
/Documentation/CASAL/CASAL_Source
/ThirdParty/test-betadiff
/ThirdParty/adolc/windows.pyc
/ThirdParty/adolc/msys
/ThirdParty/adolc/isam_unzip.log
/ThirdParty/cppad/windows.pyc
/ThirdParty/cppad/msys
/ThirdParty/cppad/isam_unzip.log
/ThirdParty/boost/boost_1_58_0
/ThirdParty/dlib/dlib-18.16
/iSAM/.cproject
/iSAM/.settings
/Documentation/Manual/*.aux
/TestModels/additional_priors/run.log
/TestModels/agelengths_data/run.log
/TestModels/estimates_with_matching_bounds/run.log
/BuildSystem/Output
/BuildSystem/config.iss
/Documentation/Manual/CASAL2.bbl
/Documentation/Manual/CASAL2.blg
/Documentation/Manual/CASAL2.idx
/Documentation/Manual/CASAL2.ilg
/Documentation/Manual/CASAL2.ind
/Documentation/Manual/CASAL2.log
/Documentation/Manual/CASAL2.out
/Documentation/Manual/CASAL2.toc
/BuildSystem/CASAL2
/FrontEnd/icon.o
/FrontEnd/.cproject
/FrontEnd/.project
/FrontEnd/.settings/language.settings.xml
/FrontEnd/.settings/org.eclipse.cdt.core.prefs
/FrontEnd/.settings/org.eclipse.cdt.managedbuilder.core.prefs
/BuildSystem/.project
/BuildSystem/icon.o
/BuildSystem/release_build.log
/CASAL2/.cproject
/CASAL2/.settings/language.settings.xml
/CASAL2/.settings/org.eclipse.cdt.core.prefs
/CASAL2/.settings/org.eclipse.cdt.managedbuilder.core.prefs
/ThirdParty/adolc/*.log
/ThirdParty/betadiff/*.log
/ThirdParty/boost/*.log
/ThirdParty/cppad/*.log
/ThirdParty/dlib/*.log
/ThirdParty/googletest_googlemock/*.log
/ThirdParty/parser/*.log
/documentation/ContributorsManual/PullRequest.aux
/documentation/ContributorsManual/BuildEnvironment.aux
/documentation/ContributorsManual/BuildRules.aux
/documentation/ContributorsManual/Contibutors Guide.aux
/documentation/ContributorsManual/Contibutors Guide.idx
/documentation/ContributorsManual/Contibutors Guide.log
/documentation/ContributorsManual/Contibutors Guide.out
/documentation/ContributorsManual/Contibutors Guide.synctex.gz
/documentation/ContributorsManual/Contibutors Guide.toc
/documentation/ContributorsManual/Example.aux
/documentation/ContributorsManual/Introduction.aux
/documentation/ContributorsManual/LocalRepo.aux
/documentation/ContributorsManual/MaintainRepo.aux
/Documentation/ContributorsManual/PullRequest.aux
/Documentation/ContributorsManual/BuildEnvironment.aux
/Documentation/ContributorsManual/BuildRules.aux
/Documentation/ContributorsManual/ContributorsGuide.aux
/Documentation/ContributorsManual/ContributorsGuide.bbl
/Documentation/ContributorsManual/ContributorsGuide.blg
/Documentation/ContributorsManual/ContributorsGuide.idx
/Documentation/ContributorsManual/ContributorsGuide.ilg
/Documentation/ContributorsManual/ContributorsGuide.ind
/Documentation/ContributorsManual/ContributorsGuide.log
/Documentation/ContributorsManual/ContributorsGuide.out
/Documentation/ContributorsManual/ContributorsGuide.toc
/Documentation/ContributorsManual/Example.aux
/Documentation/ContributorsManual/Introduction.aux
/Documentation/ContributorsManual/LocalRepo.aux
/Documentation/ContributorsManual/MaintainRepo.aux
/TestModels/LING 3 & 4/run.log
/TestModels/LING 3 & 4/estimate.log
/TestModels/HAK4/run.log
/TestModels/HAK4/estimate.log
/TestModels/TwoSex/run.log
/TestModels/TwoSex/estimate.log
