*.aux
*.pyc
.Rproj.user
.metadata
/**/.vscode/
/**/__pycache__/
/.vscode/
/BuildSystem/.project
/BuildSystem/Casal2/
/BuildSystem/Doxygen
/BuildSystem/bin
/BuildSystem/config.iss
/BuildSystem/icon.o
R-libraries/Casal2.Rcheck/
/Documentation/**/*.aux
/Documentation/**/*.bbl
/Documentation/**/*.blg
/Documentation/**/*.idx
/Documentation/**/*.ilg
/Documentation/**/*.ind
/Documentation/**/*.log
/Documentation/**/*.out
/Documentation/**/*.toc
/Documentation/**/*.tps
/Documentation/**/Version.tex
/Documentation/**/syntax_errors.txt
/Documentation/UserManual/Syntax/
/FrontEnd/icon.o
/R-libraries/.Rproj.user
/RemoteSystemsTempFiles
/TestModels/**/estimate.log
/TestModels/**/run.log
/ThirdParty/adolc/*.log
/ThirdParty/adolc/msys/
/ThirdParty/betadiff/*.log
/ThirdParty/boost/*.log
/ThirdParty/boost/boost_1_71_0
/ThirdParty/boost/boost_1_71_0/*
/ThirdParty/googletest_googlemock/*.log
/ThirdParty/googletest_googlemock/googletest-release-1.8.1/
/ThirdParty/parser/*.log
casal2.code-workspace
/CASAL2/.cproject
/CASAL2/.project
BuildSystem/*.log
BuildSystem/CMakeCache.txt
BuildSystem/Casal2
CASAL2/Build
R-libraries/Version.R
CASAL2/.settings
TestModels/ORH3B/sim/*
.lintr
Documentation/UserManual/CASAL2_Age.synctex.gz
Documentation/UserManual/CASAL2_Length.synctex.gz
